@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 40, 60, 6;
  --background-start-rgb: 254, 254, 254;
  --background-end-rgb: 244, 237, 214;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #FEFEFE;
  color: #1a2205;
  min-height: 100vh;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Remove up/down spinner arrows from number inputs */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}